@font-face {
  font-family: 'RockSalt';
  src: url('./rocksalt.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat-Light.ttf') format('truetype');
}

html,
body {
  background: black;
  margin: 0 auto;
}

.header {
  display: flex;
  margin: 0 auto;
  padding: 25px 0px;
}

.tour-logo {
  width: 350px;
  margin: 0 auto;
}

.main-content-wrapper {
  display: flex;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

.konva-wrapper {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  padding-right: 25px;
}

.konvajs-content {
  font-family: 'RockSalt' !important;
}

.image-editor-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-top: 25px;
  padding-left: 25px;
}

.image-editor-field-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
  color: red;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 20px;
  width: 300px;
}

input {
  background: black;
  color: red;
  border-width: 0px 0px 2px 0px;
  border-color: red;
  outline: none;
  font-size: 20px;
  font-family: 'Montserrat';
  font-weight: 300;
}

button {
  background: red;
  border: none;
  color: black !important;
  font-family: 'Montserrat';
  font-weight: 300;
  padding: 14px 0px;
  font-size: 20px;
}

button a {
  color: black !important;
}
button:hover {
  cursor: pointer;
}

.image-editor-field-wrapper label {
  padding-bottom: 10px;
}

.image-editor-field-wrapper.guest-buttons {
  flex-direction: row;
  width: 100%;
}

.image-editor-field-wrapper.guest-buttons button {
  flex: 1;
  margin-right: 15px;
  /* width: 950px; */
}

.image-editor-field-wrapper.guest-buttons-label {
  padding-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .main-content-wrapper {
    flex-direction: column
  }

  .konva-wrapper {
    padding-right: 0px;
  }

  .konvajs-content {
    width: 300px !important;
  }

  canvas {
    width: 300px !important;
  }

  .image-editor-wrapper {
    padding-left: 0px;
  }

  .image-editor-field-wrapper {
    margin: 0 auto;
  }
}